.myDivhead {
    text-align: center;
    font-weight: bold;
    text-color: blue;
}

.myDivbody {
    border: 5px double blue;
    text-color: lightblue;
    background-color: gray;
    text-align: center;
    align-items: center;
    justify-content: center;
}
